.carousel slide {
  background-color: green;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: green;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.label {
  color : black;
}

.textarea {
  width: 250px;
  height: 100px;
}

.App-link {
  color: #61dafb;
}

.form-horizontal {
  width: 40% !important;
  margin-left: 30%
}

.RoleScroll {
  display : flex;
  overflow-x : auto;
}

.RoleScrollItem {
  height: 300px;
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.dropdown-heading-value {
  text-align : left;
}

.select-item {
  text-align : left;
}

.ytp-cued-thumbnail-overlay {
  align-items: center;
  justify-content: center;
}

.RoleScrollItem img {height: 200px;}

.Trailer {
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
